{
    "iijmio": {
        "developer_id": "XXXX",
        "token": "XXXX",
        "users": {
            "hdo12345601": "user1",
            "hdo12345602": "user2"
        },
        "max_usage": 4000
    },
    "alert": {
        "target": "XXXX_LINE_target",
        "send_usage_each_n_days": 10
    }
}