{
    "targets":  [
        {
            "keyword": "{TITLE}",
            "label": "{LABEL}",
            "date_before": "P1M"
        },
        {
            "from": "me",
            "to": "{TO}}",
            "date_before": "P3M"
        }
    ]
}